.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
    flex-shrink: 0;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.langSwitcherMargin {
    margin-left: 20px;
}

.collapsedBtn {
    position: absolute;
    bottom: 32px;
    right: -32px;
}

.items {
    margin-top: 20px;
    margin-left: 20px;
}

.item {
    margin-top: 20px;
}

.link {
    margin-left: 20px;
    opacity: 1;
}


.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .langSwitcherMargin {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        width: 0;
        transition: 0.2s opacity;
    }
}