.menu {
    position: absolute;
    z-index: 10000;
    background-color: var(--card-bg);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 25px;
    cursor: pointer;
    background: none;
    border: none;
    outline-color: transparent;
    width: 100%;
    color: var(--primary-color);
}

