.AppLink {
    color: var(--primary-color);

    &:hover {
        opacity: 0.8;
    }
}

.primaryInverted {
    color: var(--inverted-primary-color)
}

.secondaryInverted {
    color: var(--inverted-secondary-color)
}
